
#homeJumbo {
  >.container {
    color: white;

    a {
      color: white;
    }
  }

  p {
    color: rgba(255, 255, 255, .7);
    font-weight: 300;
  }

  #registrationForm {
    width: 340px;
    float: right;

    p {
      color: rgba(255, 255, 255, 0.3);
    }
  }

}

.iconSection {
  a:hover {
    text-decoration: underline;
  }
}

.imageSection {

  img {
    width: 340px;
  }
}