#registrationForm {
  p {
    padding-top: 6px;
    float: right;
    line-height: 16px !important;
    font-size: 12px !important;
    text-align: center;
    width: 340px;
    color: rgba(255, 255, 255, 0.4) !important;

    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .btn {
    width: 100%;
  }
}