
.nav {
    background-color: #24292e;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

    .container {
        display: block;

        &:before {
            display: table;
            content: '';
        }

        &:after {
            display: table;
            content: '';
            clear: both;
        }

    }

    .navLinks {
        float: left;

        a {
            margin-right: 20px;

            &.active:after {
                content: '';
                left: -5%;
                bottom: 0;
                position: absolute;
                width: 110%;
                height: 2px;
                background-color: white;
            }
        }
    }

    .navLink {
        color: white;
        line-height: 20px;
        font-size: 16px;
        padding-top: 9px;
        padding-bottom: 9px;
        position: relative;
    }

    .actions.anonymous {
        color: #686868;
        float: right;

        a {
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .actions.user {
        float: right;
    }

    .dropdown {
        clear: both;
        position: relative;

        .drop {
            background-color: white;
            display: none;
            position: absolute;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
            background-clip: padding-box;
            border-radius: 4px;
            padding: 10px 0;
            right: 0;
            bottom: -60px;

            &.open {
                display: block;
            }
        }

        ul {
            li {
                display: block;
                position: relative;
                min-width: 150px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }

                > a {
                    display: block;
                    color: black;
                    line-height: 18px;
                    padding: 5px 20px;
                    text-decoration: none;
                    font-size: 14px;
                }
            }
        }
    }
}
