
#homeJumbo {
  >.container {
    color: white;
  }

  p {
    color: rgba(255, 255, 255, .7);
  }

  form {
    float: right;
    max-width: 340px;
  }

}

.imageSection {

  img {
    width: 340px;
  }
}