#homePage {

}

#homeJumbo {
  >.container {
    color: white;
    margin: 0 auto;
    width: 1024px;
  }

  h1 {
    margin-bottom: 16px;
  }

  p {
    color: rgba(255, 255, 255, .7);
    line-height: 30px;
    font-size: 20px;
  }

  form {
    float: right;
    max-width: 340px;
  }
}
