
#homeJumbo {
  >.container {
    color: white;
  }

  p {
    color: rgba(255, 255, 255, .7);
  }

  form {
    float: right;
    max-width: 340px;
  }

}


.fooBar {
  text-align: center;

  .iconTitle {
    h5 {
      padding-top: 12px;
    }
  }

  h2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  > p {
    margin: 0 auto;
    width: 700px;
    text-align: center;
  }

  .link {
    padding-top: 16px;

  }

  .button {
    padding-top: 32px;
    margin: 0 auto;
  }

}