.modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 20;

  .backdrop {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    height: 100vh;
    width: 100vw;
  }

  .content {
    background-color: white;
    border-radius: 15px;
    height: 500px;
    left: 50%;
    top: 100px;
    transform: translate3d(-50%, 0, 0);
    position: absolute;
    width: 50%;

    .close {
      position: absolute;
      right: 16px;
      top: 16px;
      font-size: 2em;
    }
  }
}