.jumbotron {
  background-color: #24292e;
  background-image: url('/images/landing.svg');
  background-position: center -75px, 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;

  >.container {
    padding-bottom: 90px;
    padding-top: 90px;
  }
}