h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

h1 {
  font-size: 64px;
  margin-bottom: 24px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  line-height: 30px;
  font-size: 20px;
}


a {
  color: #0016D4;
  text-decoration: none;
}