$pageHeight: 800px;

#landingPage {
  position: relative;
  width: 100%;

  >.content {
    height: 700px;
    font-size: 1em;
    position: relative;

    .title {
      color: white;
      font-family: "Arial Black";
      padding-top: 50px;
      width: 50%;
      margin: 0 auto;
      text-align: center;

      h1 {
        font-size: 3em;
        width: 100%;
      }
    }

    //.description {
    //  color: #4C4B4D;
    //  mix-blend-mode: difference;
    //  font-size: 1.1em;
    //  text-align: center;
    //  line-height: 1.2em;
    //  top: 120px;
    //  width: 500px;
    //}
  }
}


#registerButton {
  position: absolute;
  left: 50%;
  top: 50%;
  //bottom: 100px;
  //z-index: 3;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate3d(-50%, 0, 0);
  transition: all .5s;

  &:hover {
    border: 2px solid rgba(255, 255, 255, 0.2);
  }

  a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: all .4s;

    &:hover {
      //font-size: 2em;
    }
  }
}