
.nav {

  a {
    color: black;
    text-decoration: none;
  }

  ul {
    list-style-type: none;

    li {
      text-align: center;
    }
  }

  &.fixed {
    position: fixed;
    z-index: 50;
  }

  &.abs {
    position: absolute;
    z-index: 50;
  }

  &.vertical {
    li {
      display: block;
      padding-top: 16px;
      padding-bottom: 16px;

      text-align: left;
    }
  }

  &.horizontal {
    li {
      display: inline-block;
      padding-left: 16px;
      padding-right: 16px;
      a {
        transition: all .5s;
      }

      &:hover {
        a {color: darkgray;}
      }
    }
  }

}
