#registrationPage {
  background-color: #f9f9f9;

  .boxContainer {
    background-color: white;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    margin: 16px auto;
    padding: 16px;
    width: 400px;
  }

  h3 {
    padding-bottom: 24px;
    padding-top: 170px;
  }
}